/* This is the main CSS file for the Startup project */

.page {
  font-family: Times New Roman, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.nav-bar{
    border-color: rgb(255, 255, 255);
    border-width: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.login-form {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;

}
.login-form label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
  }

.login-form input {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    block-size: 1.5em;
    font-family: Times New Roman, sans-serif;
    font-weight: bold;
}

header {
    flex: 0;
    background-color: rgb(50, 123, 50);
    color: white;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Times New Roman, sans-serif;
}
main {
    flex: 1;
    background-color: #ffffff;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    a:link {
        color: white;
    }
    a:visited {
        color: white;
    }
    a:hover {
        color: rgb(82, 205, 45);
    }
}

.background-image1 {
    background-image: url("images/94956216_10081437.jpg");
    background-size: cover;
}
.github-image {
    width: 10%;
    height: 10%;
    background-image: url("images/github-icon.webp");
    a:link {
        color: white;
    }
    a:hover {
        color: rgb(255, 255, 255);
    }
}

footer {
    background-color: rgb(42, 65, 33);
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}